<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
</ion-header>

<ion-content padding text-center>
  <ion-grid class="content_grid">
    <ion-row class="content_row" justify-content-center align-items-center >
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
                <img src="assets/img/ionic_logo.png">
            </ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
        </ion-card-header>
        
        <ion-card-content>
          <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input formControlName="email" type="email" placeholder="Email" [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
            </ion-item>

            <ion-item text-wrap class="error_notification" *ngIf="loginForm.controls.email.touched && !loginForm.controls.email.valid">  
              <ion-icon name="close-circle" class="error_icon"></ion-icon> Incorrect or invalid email.
            </ion-item>

            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input formControlName="password" type="{{type}}" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
              <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" class="showHidePw_btn"> <ion-icon name="md-eye"></ion-icon></button>
              <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" class="showHidePw_btn"> <ion-icon name="md-eye-off"></ion-icon></button>
            </ion-item>
    
            <div class="btn_row" text-center>
              <button ion-button block type="submit" [disabled]="!loginForm.valid" class="btn_rounded"> Login </button>
            </div>
          </form>
          
          <div class="row btn_row">
            <div class="col col-50"> <button ion-button small block outline (click)="goToSignup()" class="btn_bottom">Sign in</button></div>
            <div class="col col-50"> <button ion-button small block outline (click)="goToResetPassword()" class="btn_bottom">Forgot password?</button></div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
