<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Sign in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="content_grid">
    <ion-row class="content_row" justify-content-center align-items-center>
      <ion-card id="container_buttons">
        <ion-card-content>
          <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

            <ion-item>
              <ion-label stacked>Email</ion-label>
              <ion-input formControlName="email" type="email" placeholder="Email" [class.invalid]="!signupForm.controls.email.valid && blur">
              </ion-input>
            </ion-item>

            <ion-item text-wrap class="error_notification" *ngIf="signupForm.controls.email.touched && !signupForm.controls.email.valid">  
              <ion-icon name="close-circle" class="error_icon"></ion-icon> Incorrect or invalid email.
            </ion-item>

            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input formControlName="password" type="{{type}}" placeholder="Password" [class.invalid]="!signupForm.controls.password.valid && blur"></ion-input>
              <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" class="showHidePw_btn"> <ion-icon name="md-eye"></ion-icon></button>
              <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" class="showHidePw_btn"> <ion-icon name="md-eye-off"></ion-icon></button>
            </ion-item>

            <ion-item text-wrap style="color: red !important; font-size: 15px;" *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">  
              <ion-icon name="close-circle" class="error_icon"></ion-icon> Password must be minimum 6 characters long.
            </ion-item>

            <ion-item>
              <ion-label stacked>Password di conferma</ion-label>
              <ion-input formControlName="confirm_password" type="{{type}}" placeholder="Password di conferma" [class.invalid]="!signupForm.controls.password.valid && blur"></ion-input>
              <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" class="showHidePw_btn"> <ion-icon name="md-eye"></ion-icon></button>
              <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" class="showHidePw_btn"> <ion-icon name="md-eye-off"></ion-icon></button>
            </ion-item>

            <ion-item text-wrap style="color: red !important; font-size: 15px;" *ngIf="signupForm.controls.confirm_password.touched && signupForm.hasError('mismatchedPasswords')">  
              <ion-icon name="close-circle" class="error_icon"></ion-icon> The confirm password doesn't match with the choosen one.
            </ion-item>

            <div class="row btn_row">
              <button ion-button block type="submit" [disabled]="!signupForm.valid" class="btn_rounded">
                Registrati
              </button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
